.background {
    padding: 80px 20px;
    margin-top: -3rem;
    position: relative;
    z-index: 1;
    align-items: center;
    box-sizing: border-box;
    background-color: #FAFAFA;

    h1 {
        text-align: left;
    }

    .benefits-list {
        margin-top: 40px;
        align-items: center;
        text-align: center;
        img {
            padding: 20px 0 12px 0;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 29px;
            color: #F43535;
            padding: 0;
            margin: 12px 0;
        }
        p {
            
            font-size: 0.95rem;
            color: black;
        }

    }



    // // /* ===== TABLET (500px - 1023px) ===== */
    // @media (min-width: 500px) and (max-width: 1023px) {

    //     h1 {
    //         margin-bottom: 2rem;
    //     }

    //     .benefit {
    //         width: 90%;

    //         img {
    //             height: 100px;
    //         }

    //         .benefit-1 {
    //             max-width: 100%;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             text-align: center;

    //             p {
    //                 width: 360px;
    //             }
    //         }
    //     }

    //     .benefits-bottom {
    //         display: flex;
    //         flex-direction: row;
    //         gap: 30px;
    //         width: 100%;
    //         justify-content: center;
    //         margin-top: 30px;
    //     }

    //     .benefit-2,
    //     .benefit-3 {
    //         flex: 1;
    //         max-width: 45%;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         text-align: center;
    //     }
    // }


    // /* ===== DESKTOP (1024px - 1440px) ===== */
    // @media (min-width: 1024px) and (max-width: 1440px) {

    //     .benefit {
    //         display: flex;
    //         flex-direction: row;
    //         gap: 80px;
    //         align-items: stretch;
    //     }

    //     .benefits-bottom {
    //         display: flex;
    //         flex-direction: row;
    //         gap: 80px;
    //         align-items: stretch;

    //     }

    //     .benefit-1,
    //     .benefit-2,
    //     .benefit-3 {
    //         width: 100%;
    //         max-width: 360px;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: flex-start;
    //         flex-shrink: 0;
    //         text-align: center;

    //         img {
    //             height: 80px;
    //             width: 80px;
    //         }
    //     }


    // }
}