<div class="motivos-container">
  <div class="motivos-content">
    <section class="first-card">
      <div class="header-card">
        <img src="assets/client-faces.svg" alt="+5 mil clientes satisfeitos" />
        <p>+5 mil clientes satisfeitos</p>
      </div>
      <h1>Sua empresa <span class="text-red">posicionada</span> no digital com <span class="text-red">estratégia</span> e <span class="text-red">tecnologia</span></h1>
      <h2>Conquiste mais clientes com soluções inteligentes.</h2>
        <button aria-label="Fale com um especialista">Fale com um especialista</button>

    </section>
    <section class="secondary-card">
        <div class="card-img">
        <img src="assets/images/HeroImage1.webp" alt="Imagem 1" class="card-img img1" />
        <img src="assets/images/HeroImage2.webp" alt="Imagem 2" class="card-img img2" />
        <img src="assets/images/HeroImage3.webp" alt="Imagem 3" class="card-img img3" />
      </div>
    </section>
  </div>
</div>
<img src="assets/desktop-1440/dotted-square.webp" alt="imagem pontilhado" class="dotted-square" />

  