$desktop-min-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 600px;
$mobile-max-width: 599px;
$mobile-min-width: 270px;


$red-90: #F43535;

.dotted-square {
  position: relative;
    top: 10rem;
    left: 8%;
    transform: rotate(60deg);
    width: 180px;
}


/* ===== DESKTOP (>= 1024px) ===== */
@media (min-width: $desktop-min-width) {

  .motivos-container {
    position: relative;
    display: grid;

  }

  .motivos-content {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-top: 14rem;
    padding: 0 2rem;

    .first-card {
      max-width: 500px;
      position: relative;
      margin-top: 53px;
      height: fit-content;

      .header-card {
        display: flex;
        gap: 1rem;
        align-items: center;
        p {
          margin-top: 2px;
        }
      }

      h1 {
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        font-family: 'Bai Jamjuree', sans-serif;
        font-weight: 500;
        line-height:48px;
        letter-spacing: 0%;
        width:30rem;
        margin:1rem 0;

        .text-red {
          color: #F43535;
          font-weight: semibold;
        }
      }

      h2 {
        font-size: 1rem;
        color: #121212;
        line-height:18px;
        margin:1rem 0;
         width: max-content;

      }

      button {
        background-color: $red-90;
        border-radius: 4px;
        margin: 1rem 0;
        color: #fff;
        min-width: 220px;
        border: none;
        padding: 1.5rem;
        margin-top:2rem;
      }

      button:hover {
        background-color: #ab1111;
      }

      button:focus {
        outline: none;
        box-shadow: 0 0 0 2px #f44040;
      }
    }

    .secondary-card {
      position: relative;
      display: flex;
      min-height: 300px;


      .card-img {
        position: relative;
        border-radius: 12px;
        object-fit: cover;
        width: 450px;
        height: auto;
        transition: transform 0.3s ease-in-out;


        &:hover {
          transform: scale(1.03);
        }

        img {
          box-shadow: 8px 8px 0 rgba(185, 10, 10, 0.6);
          width: 450px;
        }
      }

      .img1 {
        position: absolute;
        top: 10rem;
        right: 9rem;
        z-index: 3;
      }

      .img2 {
        position: absolute;
        top: 5rem;
        right: 6rem;
        z-index: 2;
      }

      .img3 {
        position: absolute;
        right: 2rem;
        top: 1rem;
        z-index: 1;
      }
    }
  }
}


/* ===== MOBILE ===== */
@media (max-width: $mobile-max-width) {
  .motivos-container {

    .motivos-content {
      margin-top: 5.625rem;
      width: 100%;
      position: relative;
      justify-content: space-between;
      padding: 2rem 2rem;


      .first-card {
        margin: 0;
        padding: 0;
        width:90;
      }

      .first-card .header-card {
        margin-top: 8px;
        gap: 12px;
        display:flex;

        p {
          min-inline-size: max-content;
          margin-top: 20px;
          font-size: 1rem;
          font-family: 'Hind Madurai', sans-serif;
          line-height: 1.8;
        }
      }

      h1 {
        font-size: 1.5rem;
        letter-spacing: 0%;
        line-height: 1.6;
        font-weight: bold;
        font-family: Bai Jamjuree;

        .text-red {
          color: #F43535;
          font-weight: semibold;
        }
      }

      h2 {
        font-size: 0.75rem;
        color: #121212;
        margin-bottom:1rem;
      }

      button {
        background-color: #F43535;
        color: #FAFAFA;
        font-size: 1rem;
        padding: 0.75rem 1.6rem;
        border-radius: 4px;
        border: none;
      }
    }

    .secondary-card {
      position: relative;
      padding: 1rem 1rem;
      margin-top: 40px;
      min-height: 400px;

      .card-img {
        position: absolute;
        border-radius: 12px;
        object-fit: cover;
        width: 90%;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }

        img {
        box-shadow: 8px 8px 0 rgba(141, 0, 0, 1);
          width:280px;
        }
      }

      .img1 {
        top: 10rem;
        right: 3rem;
        z-index: 3;
      }

      .img2 {
        top: 4rem;
        bottom: 13rem;
        z-index: 2;
      }

      .img3 {
        top: 0;
        left: 2rem;
        bottom: 0;
        z-index: 1;
      }
    }
  }
}