// ===== HOME COMPONENT STYLES =====
// Importando variáveis globais do styles.scss
@import '../../../styles.scss';

// Variáveis locais
$red-90: #F43535;

// Background que ocupa toda a tela
.home-background {
  background-image: url(/assets/desktop-1440/bg-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

// ===== IMPORTANDO MÓDULOS =====
@import 'header';
@import 'sidebar';
@import 'content';
@import 'responsive';
