<!-- <div class="container">
  <aside class="hero-content">
    <div class="first-card">
      <section>
        <img src="assets/client-faces.svg" alt="+5 mil clientes satisfeitos" />
        <p>+5 mil clientes satisfeitos</p>
      </section>
      <br />
      <h1>Sua empresa posicionada no digital com estratégia e tecnologia</h1>
      <h2>Conquiste mais clientes com soluções inteligentes.</h2>
      <button aria-label="Fale com um especialista">Fale com um especialista</button>
    </div>

    <div class="secondary-card">
      <img src="assets/images/HeroImage1.webp" alt="Imagem 1" class="card-img img1" />
      <img src="assets/images/HeroImage2.webp" alt="Imagem 2" class="card-img img2" />
      <img src="assets/images/HeroImage3.webp" alt="Imagem 3" class="card-img img3" />
    </div>
  </aside>
</div> -->

<div class="motivos-container">
  <div class="motivos-content">
    <section class="first-card">
      <div class="header-card">
        <img src="assets/client-faces.svg" alt="+5 mil clientes satisfeitos" />
        <p>+5 mil clientes satisfeitos</p>
      </div>
      <h1>Sua empresa posicionada no digital com estratégia e tecnologia</h1>
      <h2>Conquiste mais clientes com soluções inteligentes.</h2>

    </section>
    <section class="secondary-card">
        
        <img src="assets/images/HeroImage1.webp" alt="Imagem 1" class="card-img img1" />
        <img src="assets/images/HeroImage2.webp" alt="Imagem 2" class="card-img img2" />
        <img src="assets/images/HeroImage3.webp" alt="Imagem 3" class="card-img img3" />
      
    </section>
  

    <!-- <div class="motivo">
        <img src="assets/icons/search.svg" alt="Ícone de pesquisa na web">
        <h2>Posicionamento digital</h2>
        <p>Destaque sua empresa no mercado com soluções integradas que aumentam sua visibilidade, atraem
          clientes e geram crescimento sustentável.</p>
      </div> -->
