<main>
    <header>
        <div class="header-inner">
            <img src="assets/logo.svg" alt="logo" class="logo" />
            <nav>
                <a href="#home">Home</a>
                <a href="#beneficios">Benefícios</a>
                <a href="#sobre">Sobre nós</a>
                <a href="#servicos">Serviços</a>
                <a href="#reviews">Reviews</a>
                <a href="#equipe">Nossa equipe</a>
                <a href="#contato">Contatos</a>
            </nav>
            <button aria-label="botão: comece agora">Comece agora</button>
        </div>
    </header>
</main>
    <!-- <div class="hero-content">
        <div class="first-card">First Card</div>
        <div class="second-card">Second Card</div>
    </div> -->
