:root {
  --header-gradient: linear-gradient(90.28deg, #2B2B2B 50%, #360000 88.66%);
  --tablet-content-width: 768px;
  --desktop-content-width: 1200px;
}

main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;

  background: url('/assets/backgrounds/desktop/bg-desktop.webp') center top / cover no-repeat;
}

/* Container alinhado com header */
.content-container {
  width: calc(100% - 24px);
  margin: 100px 12px 0 12px;
}

/* MOBILE */
@media (max-width: 499px) {
  main {
    background: url('/assets/backgrounds/mobile/bg-mobile.webp') center top / cover no-repeat;
    background-size: 100% 50vh;
  }
}

/* TABLET */
@media (min-width: 500px) and (max-width: 1023px) {
  .content-container {
    max-width: var(--tablet-content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .content-container {
    max-width: var(--desktop-content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
  }
}

/* DESKTOP XL */
/* ===== DESKTOP XL (1441px+) ===== */
@media (min-width: 1441px) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: flex-start; /* ou center se quiser vertical */
    background-size: cover;   /* ocupa toda a tela disponível */
    background-position: center top;
  }

  .content-container {
    max-width: 1440px; /* ou o valor que você desejar como largura máxima */
    width: 100%;
    margin: 0 auto;    /* centraliza horizontalmente */
    padding-left: 12px;
    padding-right: 12px;
  }
}

