<div class="background">
  <div class="container">
    <header>
      <div class="header-inner">
        <img src="assets/logo.svg" alt="logo" class="logo" />
        <nav class="desktop-nav">
          <a href="#home">Home</a>
          <a href="#beneficios">Benefícios</a>
          <a href="#sobre">Sobre nós</a>
          <a href="#servicos">Serviços</a>
          <a href="#reviews">Reviews</a>
          <a href="#equipe">Nossa equipe</a>
          <a href="#contato">Contatos</a>
        </nav>
        <div class="header-buttons">
          <button class="hamburger" (click)="toggleSidebar()" aria-label="Abrir menu">☰</button>
          <button class="btn-cta" aria-label="botão: comece agora">Comece agora</button>

        </div>
      </div>
    </header>


    <!-- SIDEBAR MOBILE 
<aside class="mobile-sidebar" [class.active]="sidebarOpen">
  <button class="close-btn" (click)="toggleSidebar()" aria-label="Fechar menu">×</button>
  <nav class="mobile-nav">
    <a href="#home" (click)="toggleSidebar()">Home</a>
    <a href="#beneficios" (click)="toggleSidebar()">Benefícios</a>
    <a href="#sobre" (click)="toggleSidebar()">Sobre nós</a>
    <a href="#servicos" (click)="toggleSidebar()">Serviços</a>
    <a href="#reviews" (click)="toggleSidebar()">Reviews</a>
    <a href="#equipe" (click)="toggleSidebar()">Nossa equipe</a>
    <a href="#contato" (click)="toggleSidebar()">Contatos</a>
  </nav>
</aside> -->
  </div>

  <div class="content">
    <aside class="hero-content">
      <div class="first-card">
        <section>
          <img src="assets/client-faces.svg" alt="+5 mil clientes satisfeitos" />
          <p>+5 mil clientes satisfeitos</p>
        </section>
        <br />
        <h1>Sua empresa posicionada no digital com estratégia e tecnologia</h1>
        <h2>Conquiste mais clientes com soluções inteligentes.</h2>
        <button aria-label="Fale com um especialista">Fale com um especialista</button>
      </div>

      <div class="secondary-card">
        <img src="assets/images/HeroImage1.webp" alt="Imagem 1" class="card-img img1" />
        <img src="assets/images/HeroImage2.webp" alt="Imagem 2" class="card-img img2" />
        <img src="assets/images/HeroImage3.webp" alt="Imagem 3" class="card-img img3" />
      </div>
    </aside>
  </div>
  <img src="assets/desktop-1440/dotted-square.webp" alt="imagem pontilhado" class="dotted-square" />

  <!-- sections SPA -->
  <section class="sections-of-page">
    <app-motivos></app-motivos>
    <app-sobre></app-sobre>
  </section>
</div>