:root {
  --header-gradient: linear-gradient(90.28deg, #2B2B2B 50%, #360000 88.66%);
  
  --breakpoint-mobile-min: 350px;
  --breakpoint-mobile-max: 499px;
  --breakpoint-tablet-min: 500px;
  --breakpoint-tablet-max: 1023px;
  --breakpoint-desktop-min: 1024px;
  --breakpoint-desktop-max: 1440px;
  --breakpoint-desktop-xl-min: 1441px;
  
  /* Variáveis de conteúdo */
  --tablet-content-width: 768px;
  --desktop-content-width: 1200px;
}

main {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  overflow-x: hidden;
  background: url('/assets/backgrounds/bg-desktop.webp') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ===== MOBILE (300px - 499px) ===== */
@media (min-width: 300px) and (max-width: 499px) {
  main {
    max-width: var(--breakpoint-mobile-max); 
    background: url('/assets/backgrounds/mobile/bg-mobile.webp') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    min-height: 100vh;
    padding:9%;
  } 

}

/* ===== TABLET (500px - 1023px) ===== */
@media (min-width: 500px) and (max-width: 1023px) {
    main {
    max-width: var(--breakpoint-mobile-max); 
  
    margin: 0 auto;
    min-height: 100vh;
    padding:2%;
  } 

}

/* ===== DESKTOP (1024px - 1440px) ===== */
@media (min-width: 1024px) and (max-width: 1440px) {
   main {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;

    margin: 0;
    padding: 5%;
  } 
}

/* ===== DESKTOP XL (> 1440px) ===== */
@media (min-width: 1441px) {
  main {
    padding-top: 160px;
    padding-left: 50px;
    padding-right: 50px;
    width:1440px;
    background-color: rgba(123, 255, 0, 0.6) ;
    border: 5px solid #6600cc;
    margin: 0 auto;
  }
  
}