<div class="motivos-container">
    <div class="motivos-content">
        <h1>Conheça os motivos de escolher a GRYD.</h1>
        <div class="motivos-list">
            <div class="motivo">
                <img src="assets/icons/clock.svg" alt="Ícone de relógio">
                <h2>Compromisso inabalável com o crescimento do seu negócio</h2>
                <p>Mais do que fornecedores, somos aliados do seu crescimento. Oferecemos acompanhamento próximo para
                    que sua empresa esteja sempre à frente no digital.</p>
            </div>
            <div class="motivo">
                <img src="assets/icons/search.svg" alt="Ícone de pesquisa na web">
                <h2>Posicionamento digital</h2>
                <p>Destaque sua empresa no mercado com soluções integradas que aumentam sua visibilidade, atraem
                    clientes e geram crescimento sustentável.</p>
            </div>
            <div class="motivo">
                <img src="assets/icons/check-solid.svg" alt="Ícone check">
                <h2>Suporte contínuo</h2>
                <p>Oferecemos acompanhamento próximo para que sua empresa esteja sempre à frente no digital.</p>
            </div>
        </div>
    </div>
</div>
<img src="assets/desktop-1440/dotted-square.webp" alt="imagem pontilhado" class="dotted-square" />