.container {
    display: flex;
    flex-direction: column;
    background-color: #c9dd54;
    position: relative;
    
}
mat-accordion,
mat-expansion-panel {
  background: none !important;
  box-shadow: none !important;
  border: none;
  border-radius: 0; // Remove bordas arredondadas
  width:560px;
  margin: 0;
}
.mat-expansion-panel-header {
 padding: 0 24px 0 10px !important;
}
mat-expansion-panel {
  border-bottom: 1px solid #000 !important; // Divider preto
  border-radius: 0 !important; // Remove bordas arredondadas
}

.mat-expansion-indicator {
  color: #C30000 !important; // Seta
  }

  
